

 
 <form action="/user/updateDp" method="post" enctype="multipart/form-data">
  <div class="imgcontainer">
    <img src="/images/editProfile.png" alt="Avatar" class="signUp" height="100" width="150">
  </div>

  <div class="container">

    <label for="profileimage"><b>Upload Image</b></label>
    <input class="file-path validate" id="fileInput" type="file" name="profileimage" required>

    <button type="submit" class="custom1">Update</button>
  </div>
</form> 